<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Users</title>
</head>
<br>

<table style=" width: 100%; border: 4px double black;">
  <tr>
    <td style="border: 1px solid black; text-align: center">
      <a>All users. Main page</a>
    </td>
  </tr>
</table>
<br/>

<form action="/save" method="POST">
  Name:<input type="text" name="Name">
  Pass:<input type="text" name="Pass">
  Favorite fruit :<input type="text" name="Fruit">
  <input type="submit" value="save">
</form>
<br/>

<div>
  <table border="1">
    <caption th:utext="Users"></caption>
    <tr>
      <th th:text="id"> </th>
      <th th:text="name"> </th>
      <th th:text="pass"> </th>
      <th th:text="fruit"> </th>
      <th th:text="roles"> </th>
      <th th:text="actions"> </th>

    </tr>
    <tr th:each="users : ${allUsers}">
      <td th:text="${users.getId()}"></td>
      <td th:text="${users.getName()}"></td>
      <td th:text="${users.getPass()}"></td>
      <td th:text="${users.getFruit()}"></td>
      <td th:text="${users.printRoles()}"></td>

      <td>
        <a th:href="@{'/edit/' + ${users.id}}" >edit</a>
        <a th:href="@{'/delete/' + ${users.id}}" >delete</a>
      </td>
    </tr>
  </table>
</div>
</body>

</html>
